/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    font-family:  'Open Sans', sans-serif;
}
/* Estilos titulo */
.titulo {
    margin: 10px;
}

/* Estilos links */
.link {
    text-decoration: none;
    color: white;
}

.link:hover {
    color: white;
}

/* Estilos botones */
.btn {
    margin: 10px;
}

h5 {
    margin: 10px;
}

